<div class="center about">
	<p>World@South currently consists of 2 talented & vibrant musicians, Dirkie van Staden & Violinist who teamed up in February 2009. We are a fresh, energetic, eclectic, newly arrived instrumental duo / band from Stellenbosch. Technically speaking, our style can be described as a crossover between South African bands' DNA Strings and CH2. (Rhythm or rasgueado guitar and violin).<p>
	<br>
	<p>Our “vibe” includes a variety of styles and a fusion of traditional and “new age” Irish music, flamenco techniques, instrumental pop, Latin, Classical, African-, Russian, Spanish, as well as arrangements of Afrikaans folk songs.<p>
	<br>
	<p>We are currently working on a demo CD and their debut CD will follow in 2013.<p>
	<br>
	<p>World@South can operate as a 2-piece, 3-piece, 4-piece, 5-piece or 6-piece band. It includes the following instruments: Violin, Guitar, Flutes, Electric Bass, Percussion and Drums. Just phones us and ask what instrumental combination you would like to book for a show.<p>
	<br>
	<p>We are available to perform countrywide at Corporate Functions, Weddings, Hotels, Wine Estates, Restaurants, Coffee Shops. Private & Farewell Functions, Parties, Social functions & All background music. <p>
</div>	
