
#galleries li {
	display: inline-block;
}

.gallery {
	width: 190px;
	height: 240px;
	overflow: hidden;
	padding: 10px;
	margin: 20px;
}

block {
	display: block;
}	

.gallery_thumb {
	border-radius: 7px;
	cursor: pointer;
}

.event {
	height: 20px;
	width: 180px;
}

