
.normal {
	position: fixed;
	top: 140px;
	display: none;
	z-index: 200;
	width: 800px;
	margin-left: 50%;
	left:-400px;
}

.pic_image {
	position: relative;
	text-align: center;
}

.picture {
	width: 200px;
	display: inline-block;
	margin: 10px;
}

.pic_thumb {
	cursor: pointer;
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: black;

	transition: border-color 0.5s, border-radius 0.5s;
	-webkit-transition: border-color 0.5s, border-radius 0.5s;
	-o-transition: border-color 0.5s, border-radius 0.5s;
	-moz-transition: border-color 0.5s, border-radius 0.5s;
}

.pic_thumb:hover{
	border-color: white;
	border-radius: 7px;
}

.pointer {
	cursor: pointer;
}


.prev, .next{
	position: fixed;

	height: 30px;
	width: 30px;

	top: 380px;
	margin-top: -15px;

	border-radius:7px;
	padding: 3px 10px 20px 12px;
	font-size:40px;
	color: white;
	
	z-index: 500;

	transition: background-color 0.5s, color 0.5s;
	-webkit-transition: background-color 0.5s, color 0.5s;
	-moz-transition: background-color 0.5s, color 0.5s;
	-o-transition: background-color 0.5s, color 0.5s;
	}

.prev:hover, .next:hover{
	cursor: pointer;
	background-color:white;
	color:black;
}

.prev{
	left: 50%;
	margin-left:-470px;
}

.next{
	right: 50%;
	margin-right:-470px;
}